
body{
    background-color: white;
    font-size: 15px;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.ProductContainer {
    margin-top: 6.9%;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.IndividualProduct {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 4%;
    box-shadow: 0 0 1px 2px;
    justify-content:space-around;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    z-index: 1;
    text-decoration: none;
}

.Producttitle {
    font-size: 1em;
    text-decoration: none;

}

.ProductImage {
    padding: 20px;
    width: 80%;
    height: 50%;
    border-radius: 20px;
    text-decoration: none;

}
.ProductCategory{
    font-size: 1.5em;
    font-weight: 600;
    text-decoration: none;

}
.ProductDescription{
    font-size: 0.8em;
    text-align:  center;
    text-decoration: none;


}

.ProductPrice{
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;

}
.productsrate{
    color: rgb(29, 33, 29);
    font-weight: 700;
    text-decoration: none;

}

.ratingcolum{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;

}

@media (max-width:500px) {

    .ProductContainer{
        margin-top: -10%;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .IndividualProduct{
        width: 100%;
    }
    .ProductImage{
        width: 80%;
        height: 50%;
    }

    .product-container{
        margin-top: 6.9%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.product-container{
    margin-top: 6.9%;
    margin-left: 31%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-decoration: none;
}

.error-message{
    font-size: 0.8em;
    color: red;
}
.adding-button{
    padding: 1%;
    background-color: purple;
    color: white;
    border-radius: 10px;
    margin-left: -35%;
    margin-bottom: 10%;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{
    margin-left: -3%;
}