.container{
    width: 200%;
    margin-left: -75%;
}
.form{
    border : 3px solid purple;
    border-radius: 20px;
    background-color: aliceblue;
}
.input-container{
    margin: 20px;
    width: 90%;
}
.input-container > input{
    height: 30px;
    width: 100%;
    border-radius: 5px;
}

.error-message{
    font-size: 10px;
    color: red;
}
.submitbutton{
    padding: 5px 15px;
    background-color: purple;
    color: white;
    border-style: none;
    border-radius: 10px;
}
